In [1]:
#different trres with Gradient boost and xgboost for y2

In [2]:
!pip install xgboost

Collecting xgboost
  Downloading xgboost-1.5.2-py3-none-win_amd64.whl (106.6 MB)
Requirement already satisfied: scipy in c:\users\welcome\anaconda3\lib\site-packages (from xgboost) (1.7.1)
Requirement already satisfied: numpy in c:\users\welcome\anaconda3\lib\site-packages (from xgboost) (1.21.4)
Installing collected packages: xgboost
Successfully installed xgboost-1.5.2

In [3]:
import xgboost as xgb
from sklearn.datasets import load_boston
from sklearn.model_selection import train_test_split
from sklearn.model_selection import cross_val_score, KFold
from sklearn.metrics import mean_squared_error
import matplotlib.pyplot as plt 


import numpy as np
import pandas as pd
import time

import matplotlib.pyplot as plt
import seaborn as sns

from sklearn.model_selection import train_test_split

from sklearn.metrics import mean_squared_error

from sklearn.preprocessing import StandardScaler

In [5]:
df = pd.read_csv('Datasets/train.csv')
df.head()

,Year,Month,Day,Hour,Minute,Clearsky DHI,Clearsky DNI,Clearsky GHI,Cloud Type,Dew Point,Temperature,Pressure,Relative Humidity,Solar Zenith Angle,Precipitable Water,Wind Direction,Wind Speed,Fill Flag
0,2009,1,1,0,0,0,0,0,0,0.0,5.0,1010,75.34,106.15,0.499,346.1,3.1,0
1,2009,1,1,0,30,0,0,0,0,1.0,5.0,1010,80.81,112.28,0.490,346.1,3.1,0
2,2009,1,1,1,0,0,0,0,4,0.0,5.0,1010,78.27,118.50,0.482,347.9,3.2,0
3,2009,1,1,1,30,0,0,0,4,0.0,4.0,1010,78.27,124.78,0.478,347.9,3.1,0
4,2009,1,1,2,0,0,0,0,4,0.0,4.0,1010,76.45,131.12,0.475,350.0,3.0,0

In [6]:
X_train = df.drop(['Clearsky DHI', 'Clearsky DNI', 'Clearsky GHI'], axis=1)
y1 = df['Clearsky DHI']
y2 = df['Clearsky DNI']
y3 = df['Clearsky GHI']

In [7]:
import xgboost as xgb

In [8]:
model1= xgb.XGBRegressor(verbosity=0, n_estimator=1000)
model1.fit(X_train, y1)

XGBRegressor(base_score=0.5, booster='gbtree', colsample_bylevel=1,
             colsample_bynode=1, colsample_bytree=1, enable_categorical=False,
             gamma=0, gpu_id=-1, importance_type=None,
             interaction_constraints='', learning_rate=0.300000012,
             max_delta_step=0, max_depth=6, min_child_weight=1, missing=nan,
             monotone_constraints='()', n_estimator=1000, n_estimators=100,
             n_jobs=4, num_parallel_tree=1, predictor='auto', random_state=0,
             reg_alpha=0, reg_lambda=1, scale_pos_weight=1, subsample=1,
             tree_method='exact', validate_parameters=1, verbosity=0)

In [9]:
y1pred = model1.predict(X_train)
mse1 = mean_squared_error(y1, y1pred)
print(mse1)

107.42731831960354

In [10]:
model2= xgb.XGBRegressor(verbosity=0, n_estimator=1000)
model2.fit(X_train, y2)

XGBRegressor(base_score=0.5, booster='gbtree', colsample_bylevel=1,
             colsample_bynode=1, colsample_bytree=1, enable_categorical=False,
             gamma=0, gpu_id=-1, importance_type=None,
             interaction_constraints='', learning_rate=0.300000012,
             max_delta_step=0, max_depth=6, min_child_weight=1, missing=nan,
             monotone_constraints='()', n_estimator=1000, n_estimators=100,
             n_jobs=4, num_parallel_tree=1, predictor='auto', random_state=0,
             reg_alpha=0, reg_lambda=1, scale_pos_weight=1, subsample=1,
             tree_method='exact', validate_parameters=1, verbosity=0)

In [11]:
y2pred = model2.predict(X_train)
mse2 = mean_squared_error(y2, y2pred)
print(mse2)

786.9791112275662

In [ ]:
model3= xgb.XGBRegressor(verbosity=0, n_estimator=1000)
model3.fit(X_train, y3)

In [ ]:
y3pred = model3.predict(X_train)
mse3 = mean_squared_error(y3, y3pred)
print(mse3)

In [29]:
test_df = pd.read_csv('../Datasets/test.csv')
test_df = test_df.drop(['Clearsky DHI', 'Clearsky DNI', 'Clearsky GHI'], axis=1)
test_df.head()

,Year,Month,Day,Hour,Minute,Cloud Type,Dew Point,Temperature,Pressure,Relative Humidity,Solar Zenith Angle,Precipitable Water,Wind Direction,Wind Speed,Fill Flag
0,2019,1,1,0,0,7,18.4,18.8,1008,97.70,106.23,3.5,190,2.3,0
1,2019,1,1,0,30,3,18.4,18.6,1008,98.92,112.36,3.5,187,2.5,0
2,2019,1,1,1,0,3,18.2,18.5,1008,98.35,118.58,3.5,184,2.8,0
3,2019,1,1,1,30,3,18.2,18.3,1008,99.58,124.86,3.5,185,3.0,0
4,2019,1,1,2,0,0,18.0,18.0,1008,99.71,131.20,3.6,186,3.1,0

In [35]:
submission_y1 = model1.predict(test_df).astype('int32')
submission_y2 = model2.predict(test_df).astype('int32')
submission_y3 = model3.predict(test_df).astype('int32')

In [36]:
Submission = pd.DataFrame()
Submission['Clearsky DHI']= submission_y1
Submission['Clearsky DNI']= submission_y2
Submission['Clearsky GHI']= submission_y3
Submission.head(5)

   Clearsky DHI  Clearsky DNI  Clearsky GHI
0            -1             2             0
1            -1             2             0
2             0             6             0
3             0             6             0
4             0             0             0

In [39]:
Submission.to_csv('submission_feb3_2.csv', index=False)

The MSE was 352. So we need to do DNN now.